apex==0.9.10dev
boto3==1.26.155
botocore==1.29.155
datasets==2.12.0
matplotlib==3.7.1
nni==2.10.1
numpy==1.24.3
pandas==1.3.5
Pillow==9.5.0
Pillow==10.0.1
Requests==2.31.0
scikit_learn==1.2.2
scipy==1.11.3
seaborn==0.13.0
tensorflow==2.13.0
torch==2.0.1
tqdm==4.65.0
transformers==4.28.1
